@media screen and (min-width:300px) and (max-width:576px) {
   body{
    width: 100%;
    padding-top: 2rem;
   }
    .nav-bar{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .nav-icon{
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
        gap: 20px;
    }
    /*banner-section  */
    .banner-section{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        position: relative;
    }

    .multi-image >img{
        width:100% ;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
    }
    .text{
        position: absolute;
        width: 350px;
        margin: 15% auto;
        padding: 0;
        text-align: center;
        
        
    }
    .goat{
        width: 100%;
        margin: 0% auto;

        display:flex ;
        align-items: center;
        justify-content: center;
        height: 350px;
    }
   
    .button-primary-1,
    .button-primary-2{
    width: 150px;
    border: none;
    padding: 1rem ;
    border-radius: 36px;
    font-size: 20px;
    color: white;
    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* game-section */
    .game-section{
        flex-direction: column;
        margin-top: 2rem;
        background: none;
    }
    .title-section{
        text-align: center;
        padding-top: .5rem;
        padding-right:0 ;
    }
    .title-section h3{
       
    }
    .title-section h5{
        font-size: 16px;
    }
    .title-section p{
        font-size: 16px;
        color: grey;
        padding-top: 1.2rem;
        padding-bottom: 0.5rem;
    }
    .title-section h2{
        font-size: 18px;
        padding-bottom: 0.5rem;
    }

/* online-videos-responsive */
.online_games{
    width: 100%;
}
.video_card{
    grid-template-columns: 1fr;
}

/* .play-insatanly-responsive */
.play-insatanly{
    width: 100%;
    margin: 0% auto;
    grid-template-columns: 1fr;
}
.play-title{
   text-align: center;
   padding-top: 0;
   padding-right: 0;
   padding-left: 2rem;
   justify-content: center;
   align-items: center;

}
.description{
    margin: 0%;
    padding-left: 5rem;
}
.group-image{
    width: 100%;
}
.group-image>.frist-image >img{
    width: 100%;
    text-align: center;
    

}


}