@media screen and (min-width:300px) and (max-width:576px) {
   body{
    width: 100%;
    padding-top: 2rem;
   }
    .nav-bar{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .nav-icon{
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
        gap: 20px;
    }
    /*banner-section  */
    .banner-section{
        width: 100%;
        padding-top: 1rem;
        flex-direction: column-reverse;
    
    }
    .multi-image >img{
        width: 100%;
        padding: 0%;
        
       
    }
    .banner-section >.goat,
    .banner-section > .multi-image{
        width: 100%;
    
    }
    .text{
        padding: 0;
        padding-top: 2rem;
      
    }
   .text h1,
   .text h4,
   .text p{
    text-align:center ;
   }
    .btn{
        display: grid;
        grid-template-columns: 1fr 1fr;
       margin-left: 30px;
    }
    


}