@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playwrite+AU+TAS:wght@100..400&family=Playwrite+CL:wght@100..400&family=Playwrite+CU:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    border: 0;
    padding: 0%;
}
.hide{
    display: none
}
body{
    font-family: "Work Sans", sans-serif;
}
/* nav-bar-styles */
.nav-bar{
    box-shadow: 0px 4px 30px 0px rgba(208, 142, 212, 0.4);
    background: rgb(255, 255, 255);
    width: auto;
    padding: 2rem 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 50px;
    margin-right: 15px;
}
.nav-icon p{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #3C354F;
    
}
.span{
    color: rgb(230, 82, 217);
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color:#3C354F;
}
.Follow{
    box-sizing: border-box;
    border: 1px solid grey;
    background: rgba(11, 2, 35, 0.1) ;
    border-radius: 6px;
    padding:0.5rem 0.5rem;
    margin-right: 5px;
}
#youtube{
    color: red;
    margin-right: 5px;
}
#tiktok{
    background: linear-gradient(-25deg,black,rgb(16, 16, 20));
    background-clip: text;
    color: transparent;
    filter: drop-shadow(3px 3px 3px rgb(113, 127, 156));
}
/* banner-section */
.banner-section{
    width:95%;
    display: flex;
    padding-bottom: 0.25rem;
    
}
.banner-section >.goat,
.banner-section > .multi-image{
    width: 100%;

}
.goat{
    background: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.text{
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem;
}
.text h4{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: normal;
    color: #0B0223;
    gap: 50px;
}
.text h1{
    position: relative;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip: Text;
    color: transparent;
    filter: drop-shadow(#8758F1);
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
}
.text p{
    padding-bottom: 15px;
    font-size: 16px

}
.button-primary-1,
.button-primary-2{
    width: 180px;
    border: 1px solid rebeccapurple;
    padding: 1.2rem ;
    border-radius: 36px;
    font-size: 24px;
    color: white;
}
.button-primary-1{
    background:hotpink;
    margin-right: 15px;
    border: none;
}
.button-primary-2{
    border: none;
    background:rgba(53, 35, 155, 0.4);
}
.multi-image>img{
    width: 80%;
   padding-left: 85px;
}
/* We-are-game-section-styles */
.game-section{
    width: 100%;
    padding-top: 5rem;
    background-color: #e0cdd8;
    display: flex;
  
    
}
.game-section>.man-section{
    width: 100%;
}
.game-section>.title-section{
    width: 100%;
  

}
.man-section >img{
    width: 100%;
}

.title-section{
    text-align: right;
    padding-right:60px;
    padding-top: 5rem;
}
.title-section h3{
    position: relative;
    background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip: Text;
    color: transparent;
    filter: drop-shadow(#8758F1);
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 0.5rem;
}
.title-section h5{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
    padding-bottom: 0.5rem;
}
.title-section p{
    font-size: 18px;
    color: grey;
    padding-top: 1.2rem;
}
/* Online-games-section-styles */
.online_games{
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.online-games-title{
    text-align: center;
}
.online-games-title h3{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: normal;
    color: black;
}
.online-games-title span{
    background: linear-gradient(180.00deg, rgb(249,72,178),rgb(135,88,241));
    background-clip: text;
    color: transparent;
    
}
.online-games-title p{
    font-size: 16px;
    color: grey;
}
.video_card{
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
.video_card img{
    width: 100%;
}

 .video-card1,
 .video-card2,
 .video-card3{
    position: relative;
}
.wacth-now{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
    display: none;
}
.wacth-now span{
    color: white;
   
}
.wacth-now p{
    color: red;

} 
.video_card img:hover+.wacth-now{
    display: block;
    
}
.video_card img:hover{
    filter: brightness(50%);
}
.video-card4{
    position: relative;
}
.video-card3 .wacth-now{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
    
    
}
.permanent{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 45%;
    transform: translate(-50%,-50%);
}

/* play-insatanly-styles */
.play-insatanly{
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.play-insatanly >.play-title{
    width: 80%;

}
.play-insatanly >.group-image{
    width: 100%;
    height: 500px;
}
.play-title{
    text-align: right;
    padding-top: 8rem;
    padding-right: 2rem;

}
.play-title span{
    background: linear-gradient(180.00deg, rgb(249,72,178),rgb(135,88,241));
    background-clip: text;
    color: transparent;
    font-size: 2.2rem;
    font-weight: bold;
      
}
.play-title h4{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 1rem;
}
/* .description{
    width: 280px;
    margin: 0% auto;
    margin-right: 10px;
    padding-bottom: 1rem;

} */
.group-image{
    position: relative;

}
.group-image>.frist-image >img{
    width: 100%;
    height: 600px;

    position: absolute;

}
.group-image>.last-image>img{
    width: 100%;
    /* height: 150px; */
   
}
.last-image{
    position: absolute;
    top: 75%;
    left: -22%;

}

/* carees-styles */
.careers{
    width: 100%;
    margin-top: 16rem;
    /* height: 500px; */
    background-color:rgba(255, 66, 165, 1.00);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1.5rem;
}
.careers>.careers-tittle{
    width: 100%;
    
}
.careers>.child-image{
    width: 100%;
}
.careers-tittle{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.child-image>img{
    width: 100%;

   
}
.careers-text{
    width: 80%;
    margin: 0% auto;
    padding-top: 10rem;
    padding-left: 10rem;
    
}
.careers-text h3{
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
}
.careers-text p{
    font-size: 16px;
    color: whitesmoke;
}
.grid{
    padding-top: 0.25em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 50px; */
}
.careers-text button{
    width: 250px;
    padding: 1.5rem 1.2rem;
    border-radius: 36px;
    font-size: 18px;
    color: rgb(231, 31, 141);
}